<div class="diafilm diafilm_default js-diafilm">
    <div class="diafilm__container">
        <div class="diafilm__row">
            <div class="diafilm__label" role="heading" aria-level="2"></div>
            <div class="diafilm__text"></div>
            <div class="diafilm__viewport">
                <div class="diafilm__player js-diafilm-player">
                    <iframe class="diafilm__iframe js-diafilm-iframe"
                            src="https://arch.rgdb.ru/xmlui/handle/123456789/47958#page/0/mode/1up"
                            allowfullscreen></iframe>
                    <button class="diafilm__button diafilm__button_exit js-diafilm-exit" type="button"
                            aria-label="Назад" title="Назад"></button>
                </div>
                <div class="diafilm__toolbar">
                    <button class="diafilm__button diafilm__button_full js-diafilm-full" type="button">
                        На весь экран
                    </button>
                    <div class="diafilm__nav">
                        <button class="diafilm__button diafilm__button_up js-diafilm-up"
                                type="button" aria-label="Вверх" title="Вверх"></button>
                        <div class="diafilm__hint">Следующий кадр</div>
                        <button class="diafilm__button diafilm__button_down js-diafilm-down"
                                type="button" aria-label="Вниз" title="Вниз"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
