{% extends '@layouts/default.twig' %}

{% block vendor_styles %}
    {{ parent() }}
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block vendor_scripts %}
    {{ parent() }}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block layout_content %}
    {% include '@blocks/title.twig' with {
        self: {
            mod: 'image',
            back: { url: parent.id, label: 'Вернуться в галерею' },
            image: { url: 'gallery/artist/image-1.jpg', width: 1112, height: 450, alt: '' },
            label: pageTitle
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'artist',
            wrap: true
        }
    } %}
        {% block text_body %}
            <h2>Биография художника</h2>
            {% include '@blocks/params.twig' with {
                self: {
                    mod: 'inline',
                    wrap: false,
                    items: [
                        { label: 'Имя при рождении', value: 'Евгений Монин' },
                        { label: 'Дата рождения', value: '20.07.1931' },
                        { label: 'Место рождения', value: 'г. Харьков, УССР' },
                        { label: 'Дата смерти', value: '25.09.2002' },
                        { label: 'Место смерти', value: 'г. Москва, Российская Федерация' },
                        { label: 'Гражданство', value: 'СССР, Российская Федерация' },
                        { label: 'Период творчества', value: 'Вторая половина XX века – первая половина XXI века' },
                        { label: 'Род деятельности', value: 'График, книжный иллюстратор' },
                        { label: 'Награды', value: 'Народный художник РСФСР' },
                    ]
                }
            } %}
        {% endblock text_body %}
        {% block text_aside %}
            {% include '@blocks/figure.twig' with {
                self: {
                    mod: 'image',
                    type: 'image',
                    wrap: false,
                    caption: 'Сказка про Бабу-Ягу / художник В. Маркин; худож. ред. В. Дугин.- Москва : Диафильм, 1991.- 1 дф. (40 кд.)',
                    media: {
                        url: 'gallery/artist/image-2.jpg',
                        width: 499,
                        height: 638
                    }
                }
            } %}
        {% endblock text_aside %}
    {% endembed %}


    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Евгений Григорьевич Монин родился 20 июля 1931 года на Украине в городе Харькове в семье горного
                инженера. Отец Евгения Монина — Григорий Ильич Монин, в свободное время увлекался живописью,
                собственноручно изготавливал краски. Любил писать пейзажи, но не с натуры, а по воображению, по
                впечатлениям от увиденного. Мама была домохозяйкой.</p>
            <p>В школе Евгений Монин много и с удовольствием читал и рисовал картинки к любимым произведениям, вначале —
                к сказкам, а затем — к «Трём мушкетёрам» А. Дюма.</p>
            <p>В эвакуации в городе Пермь, куда отправили инженера Г.И. Монина с семьей в начале Великой Отечественной
                войны, десятилетний Евгений Монин познакомился с пермским художником, который обнаружил у мальчика
                неординарные способности и за год подготовил его к поступлению в художественную школу.</p>
        {% endblock text_body %}
    {% endembed %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>В 1943 году семья вернулась в Москву. Евгений Монин, несмотря на большой конкурс, успешно поступил в
                Московскую среднюю художественную школу (МСХШ) при МГАХИ им. В. И. Сурикова. Там же познакомился с
                Анатолием Иткиным и Вениамином Лосиным, с которым дружил всю жизнь.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: 'Книга Давида Самойлова «Слонёнок пошёл учиться» с иллюстрациями Евгения Монина.',
            media: {
                url: 'gallery/artist/image-3.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Художественную школу и своих педагогов Е.Г. Монин всегда вспоминал с благодарностью и теплотой.</p>
            <p>После окончания МСХШ 1950 году по настоянию отца поступил в Московский архитектурный институт (МАРХИ),
                друзья Вениамин Лосин и Анатолий Иткин — в МГАХИ им. В. И. Сурикова.</p>
            <p>В 1956 году Евгений Монин получил диплом архитектора и был направлен прорабом в Мосстрой. Но по
                распределению работать не пошел, мечтая быть художником.</p>
            <p>Будучи студентом, Евгений Монин участвовал в оформлении выставки «Советская молодежь» к V Всемирному
                фестивалю молодёжи и студентов в Варшаве (1955); оформлял шествие и стадион во время проходившего в
                Москве XVI Всемирного фестиваля молодежи и студентов (1957); советский павильон на Брюссельской
                Всемирной выставке (1957–1958), некоторое время работал в Московском драматическом театре на
                Спартаковской площади.</p>
            <p>В 1956 году Вениамин Лосин привел друга в издательство «Детская литература». Главный художник Б. А.
                Дехтерёв предложил ему проиллюстрировать книжку Н. М. Павловой «Чьи башмачки?». Эту и еще несколько
                ранних книг Евгений Монин называл неудачными.</p>
        {% endblock text_body %}
    {% endembed %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>Своей первой книгой он считал сборник африканских сказок Дадье Бернара «Паук Ананзе» («Дитвидав», 1958),
                изданный в Киеве на украинском языке. Работая над книгой, художник исследовал африканское народное
                творчество и удачно интерпретировал его в выразительных двухцветных иллюстрациях.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <h2>Галерея интересных фото и картин художника</h2>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/gallery.twig' with {
        self: {
            mod: 'default',
            jsClassName: 'js-gallery-default',
            thumbs: true,
            items: [
                { mod: 'image', media: { url: 'gallery/artist/gallery/image-1.jpg', width: 928, height: 540 }, caption: 'Сказка про Бабу-Ягу / художник В. Маркин; худож. ред. В. Дугин.- Москва : Диафильм, 1991.- 1 дф. (40 кд.)' },
                { mod: 'image', media: { url: 'gallery/artist/gallery/image-2.jpg', width: 928, height: 540 }, caption: 'Евгений Монин. Иллюстрация к сборнику африканских сказок Дадье Бернара «Паук Ананзе», 1958 год' },
                { mod: 'image', media: { url: 'gallery/artist/gallery/image-3.jpg', width: 928, height: 540 }, caption: 'Писатель Юрий Коваль и художник Евгений Монин. Фото: Виктор Усков. Из архива Ольги Мониной.' },
                { mod: 'image', media: { url: 'gallery/artist/gallery/image-4.jpg', width: 928, height: 540 }, caption: 'Художник Евгений Монин. Автопортрет, 1955 год. Из семейного архива художника Ольги Мониной.' },
                { mod: 'image', media: { url: 'gallery/artist/gallery/image-5.jpg', width: 928, height: 540 }, caption: 'Художник Евгений Монин с внучкой Александрой. Из семейного архива художника Ольги Мониной.' },
            ]
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>В конце 50-х годов Евгений Монин начал сотрудничать с журналом «Мурзилка». Самый первый рисунок был
                сделан к стихотворению А. Бродского «Великан — подъёмный кран» и появился в «Мурзилке» (№ 7) в 1959
                г.</p>
            <p>Тогдашняя «Мурзилка», собравшая под одной обложкой журнала классиков детской литературы, молодых
                иллюстраторов и мастеров книжной графики, была хорошей школой для начинающих художников. В журнале
                работали В. Лосин, В. Перцов, Н. Устинов, Ю. Молоканов, В. Чижиков, Л. Токмаков, М. Митурич и многие
                другие талантливые художники, пришедшие в книжное искусство в годы «оттепели».</p>
            <p>В «Мурзилке» началось сотрудничество Е.Г. Монина с Яковом Акимом и Юрием Ковалём, с которыми его потом
                связывала тесная дружба на всю жизнь. Первая их совместная с Я. Акимом книга вышла в издательстве
                «Детская литература». Позже проиллюстрировал почти все книги поэта: «Друг», «Мой верный чиж», «Мой брат
                Миша», «Разноцветные дома» и другие.</p>
            <p>Художник много рисовал для журналов «Мурзилка» и «Пионер», детской газеты «Жили-были». Для «Мурзилки»
                были выполнены иллюстрации к сочинениям классиков отечественной и зарубежной детской литературы, таких
                как Ирина Токмакова (№ 4, 1963), Ванда Хотомская (№ 4, 1966), Душан Радович (№ 7, 1966);</p>
            <p>Л. Кузьмин (№ 1, 1970) и другим.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, small',
            type: 'image',
            wrap: true,
            caption: 'Художники Вениамин Лосин, Евгений Монин, Владимир Перцов, Виктор Чижиков. Фото: Игорь Пальмин',
            media: {
                url: 'gallery/artist/image-4.jpg',
                width: 507,
                height: 624
            }
        }
    } %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>Имя Евгения Монина часто упоминается рядом с именами Владимира Перцова, Вениамина Лосина и Виктора
                Чижикова. Художников связывала дружба и совместная работа. Работая в одной мастерской, они искали новые
                пути оформления детской книги. Вместе отдыхали, ездили на этюды, много путешествовали по древнерусским
                городам, по Грузии, Средней Азии.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>В 1958 г. впервые четыре художника вместе проиллюстрировали одну книгу. Издательство «Советская Россия»
                заказало Вениамину Лосину оформление большого сборника старинных сказок народной сказительницы Анны
                Куприяновны Барышниковой (Куприянихи). К В. Лосину присоединились Е. Монин, В. Перцов и В. Чижиков.
                Вениамин Лосин, прекрасный рисовальщик, выполнял основные иллюстрации. Евгений Монин нарисовал несколько
                иллюстраций, все заставки, концовки и обложку с форзацами. Виктор Чижиков сделал один разворот и одну
                полосную иллюстрацию. Владимир Перцов писал заголовки и буквицы. Молодые художники демонстрировали новую
                для своего времени книжную графику. В 1961 году сборник вышел из печати и признан лучшей книгой года по
                итогам IV Всесоюзного конкурса «Искусство книги» (1961). Книга неоднократно переиздавалась.</p>
        {% endblock text_body %}
    {% endembed %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>Евгений Григорьевич очень любил искусство эпохи Возрождения. Любимая архитектура — европейская:
                голландская, немецкая, итальянская. Живописцы — Брейгель, Гойя, Джотто, Пьеро делла Франческо.</p>
            <p>В 1973-1974 гг. в составе группы иллюстраторов от Союза художников посещает Италию.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>В 2017 году издательство «Речь» переиздало в несколько измененном варианте «Сказки А. К. Барышниковой
                (Куприянихи)». В качестве послесловия в книгу был включен рассказ В. Перцова о том, как художники
                работали над иллюстрациями к этим сказкам — «Звали нас мушкетёрами».</p>
        {% endblock text_body %}
    {% endembed %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>В 1980 году Евгений Монин удостоен звания Заслуженный художник РСФСР.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>В 2001 году вышло последнее прижизненное издание сказок братьев Гримм «Удалой портняжка» (Издательство
                Дрофа).</p>
            <p>Персональные выставки Евгения Монина с успехом проходили как в России (РГДБ, Российская академия
                художеств, галерея Манеж и др.), так и в других странах — в Финляндии, Словакии, Швейцарии, Японии,
                Германии. Его работы находятся в Третьяковской галерее (ГТГ), Государственном музее изобразительных
                искусств им. А. С. Пушкина, Среднесловацкой картинной галерее, частных коллекциях.</p>
            <p>Евгений Григорьевич Монин умер 25 сентября 2002 года на 72-м году жизни от тяжелой болезни сердца.
                Похоронен в Москве на Троекуровском кладбище.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'youtube, large',
            jsClassName: 'js-figure',
            type: 'youtube',
            wrap: true,
            caption: '«Человек с большой буквы» - Евгений Монин. Художник-иллюстратор Ольга Монина рассказывает о своем отце, Народном художнике РФ Евгении Григорьевиче Монине.',
            media: {
                url: 'o4nypy341ms',
                width: 929,
                height: 542
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Дочь Ольга Монина (1960) —художник-иллюстратор, доцент кафедры иллюстрации и эстампа Института графики и
                искусства книги им. В.А. Фаворского Московского Политеха.</p>
            <p>Внучка Александра Семёнова (1984) — художник-график, иллюстратор детских книг (Серебряная медаль
                Российской Академии Художеств).</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/networks.twig' with {
        self: {
            mod: 'sharing',
            wrap: true,
            jsClassName: 'js-sharing',
            items: [
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'fb-white',
                    title: 'Поделиться в Facebook',
                    extra: { 'data-action': 'fb' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'vk-white',
                    title: 'Поделиться во Вконтакте',
                    extra: { 'data-action': 'vk' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'ok-white',
                    title: 'Поделиться в Одноклассники',
                    extra: { 'data-action': 'ok' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'cp-white',
                    title: 'Копировать ссылку на страницу',
                    extra: { 'data-action': 'cp' }
                }
            ]
        }
    } %}

    {% include '@blocks/similar.twig' with {
        self: {
            mod: 'publications',
            label: 'Диафильмы с участием художника',
            text: 'В этих статьях мы подобрали интересные факты о диафильмах для школьников. Материалы специально готовились с акцентом на людей жаждущих знаний, надеемся вам будет интересно.',
            carousel: {
                mod: 'films',
                jsClassName: 'js-carousel-horizontal',
                itemsTemplate: '@blocks/card.twig',
                items: [
                    {
                        size: '',
                        mod: 'film',
                        label: 'В путь по реке времени',
                        image: { url: 'gallery/artist/card-1.jpg', width: 384, height: 288 },
                        link: { label: '', url: '#' }
                    },
                    {
                        size: '',
                        mod: 'film',
                        label: 'Встреча с вреднюгами',
                        image: { url: 'gallery/artist/card-2.jpg', width: 384, height: 288 },
                        link: { label: '', url: '#' }
                    },
                    {
                        size: '',
                        mod: 'film',
                        label: 'Карлик Нос',
                        image: { url: 'gallery/artist/card-3.jpg', width: 384, height: 288 },
                        link: { label: '', url: '#' }
                    }
                ]
            }
        }
    } %}

{% endblock layout_content %}

{% block popups %}
    {{ parent() }}
{% endblock popups %}
