{% extends '@layouts/default.twig' %}

{% block vendor_styles %}
    {{ parent() }}
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block vendor_scripts %}
    {{ parent() }}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block layout_content %}
    {% include '@blocks/title.twig' with {
        self: {
            mod: 'image',
            back: { url: parent.id, label: 'Вернуться в подборки' },
            image: { url: 'viewing-hall/collections/collection/image-1.jpg', width: 1112, height: 450, alt: '' },
            label: pageTitle
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>Баба-Яга - самый популярный сказочный антигерой. Встречается она не только в русских народных сказках.
                Под разными именами и с разными атрибутами ее можно легко найти и в европейских, африканских, японских
                сказках, не говоря уже о сказках народов России. Баба-Яга часто становится персонажем авторских сказок.
                Современные писатели тоже не забывают о колдуньях, но тут сюжет может отличаться от классического.</p>
            <p>Приведем десять примеров диафильмов, в которых злые старухи играют не последнюю роль. Отметим сходства и
                различия ведьм в сказках разных народов. А вы по портрету главной злодейки выбирайте сказку и решайте -
                смотреть на ночь или лучше при свете дня!</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/feed.twig' with {
        self: {
            mod: 'collection',
            jsClassName: 'js-feed-lazy',
            itemsTemplate: '@blocks/story.twig',
            button: {
                mod: 'inline',
                iconBefore: 'arrow-down',
                label: 'Загрузить ещё',
                url: '?page=2',
                extra: {
                    'rel': 'next',
                    'data-base': 'ajax/feed-more-collection.html'
                }
            },
            items: [
                {
                    size: 'full',
                    label: 'Сказка про Бабу Ягу',
                    link: { url: '#', label: 'Смотреть диафильм' },
                    text: 'Пусть милый образ Бабы-яги, созданный художником Виталием Маркиным, не вводит вас в заблуждение. Сюжет классический, просто бабушка отдохнуть прилегла перед сытным обедом. Но как только выяснилось, что обед убежал, бабка вскочила в ступу и отправилась в погоню. Умерла от перепоя - помогала быкам выпить реку, да лопнула.',
                    figure: { mod: 'image', media: { url: 'viewing-hall/collections/collection/story-1.jpg', width: 717, height: 500 }, caption: 'Сказка про Бабу-Ягу / художник В. Маркин; худож. ред. В. Дугин.- Москва : Диафильм, 1991.- 1 дф. (40 кд.)' }
                },
                {
                    size: 'full',
                    label: 'Василиса Премудрая',
                    link: { url: '#', label: 'Смотреть диафильм' },
                    text: 'Название другое, а сюжет знакомый - это же сказка про Лягушку-царевну. Баба-Яга, хоть и выглядит страшной, но вполне доходчиво объяснила Ивану, как одолеть Кащея. Без ее советов Иван бы не спас Василису, которую своими руками отправил за тридевять земель, когда сжег лягушачью шкурку.',
                    figure: { mod: 'image', media: { url: 'viewing-hall/collections/collection/story-2.jpg', width: 717, height: 500 }, caption: 'Василиса Премудрая / худож. А. Винокуров, И. Шварцман.- Москва : Диафильм, 1964.- 1 дф. (48 кд.)' }
                },
                {
                    size: 'full',
                    label: 'Царевна-лягушка',
                    link: { url: '#', label: 'Смотреть диафильм' },
                    text: 'В этой сказке Баба-Яга играет эпизодическую положительную роль. Ведь именно она рассказала Ивану-царевичу, как спасти Василису-прекрасную от Кощея Бессмертного. Поэтому она похожа на веселую старушку и совсем не страшная.',
                    figure: { mod: 'image', media: { url: 'viewing-hall/collections/collection/story-3.jpg', width: 717, height: 500 }, caption: 'Воздушное путешествие Незнайки и его товарищей / Н. Носов; худож. Л. Владимирский.- Москва : Диафильм, 1957.- 1 дф. (47 кд.)' }
                },
                {
                    size: 'full',
                    label: 'Две сестры',
                    link: { url: '#', label: 'Смотреть диафильм' },
                    text: 'В диафильме про двух сестер - ленивую и радивую - Баба-яга честная и справедливая, есть просто так никого не собирается. «Не пугайся меня, оставайся здесь. Если всю работу в доме хорошо будешь справлять, то не плохо жить станешь. А за плохую работу головы тебе не сносить. Баба-яга».',
                    figure: { mod: 'image', media: { url: 'viewing-hall/collections/collection/story-4.jpg', width: 717, height: 500 }, caption: 'Василиса Премудрая / худож. А. Винокуров, И. Шварцман.- Москва : Диафильм, 1964.- 1 дф. (48 кд.)' }
                },
                {
                    size: 'full',
                    label: 'Чудо чудесное',
                    link: { url: '#', label: 'Смотреть диафильм' },
                    text: 'Это одна из ипостасей героини стихотворной сказки Льва Кузьмина "Дом с колокольчиком". Если с ней общаться вежливо, то она выглядит как милая старушка с пучком. Но "если ты в этом дом начнешь кулаком стучаться", то выйдет не старушка, "А выскочит Баба-яга".',
                    figure: { mod: 'image', media: { url: 'viewing-hall/collections/collection/story-5.jpg', width: 717, height: 500 }, caption: 'Дом с колокольчиком (Чудо чудесное / Кузьмин Л.; Худож. Елисеев А.- Москва : Диафильм, 1985.- 1 дф. (35 кд.))' }
                }
            ]
        }
    } %}

    {% include '@blocks/similar.twig' with {
        self: {
            mod: 'collections',
            label: 'Смотрите еще подборки',
            more: {
                url: 'collections',
                label: 'Ещё подборки'
            },
            carousel: {
                mod: 'collections',
                jsClassName: 'js-carousel-horizontal',
                itemsTemplate: '@blocks/card.twig',
                items: [
                    {
                        mod: 'collection',
                        label: 'Пограничник Карацупа и его пёс Ингус. Не выдуманные герои диафильмов. Герои страны!',
                        text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм. Жизнь действительно стала иной, но все перечисленное никуда не делось. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм.',
                        image: { url: 'viewing-hall/collections/collection/card-1.jpg', width: 503, height: 362 },
                        link: { label: 'Читать статью полностью', url: 'collection' }
                    },
                    {
                        mod: 'collection',
                        label: 'Диафильмы про Бабу-Ягу',
                        text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось.',
                        image: { url: 'viewing-hall/collections/collection/card-2.jpg', width: 503, height: 362 },
                        link: { label: 'Читать статью полностью', url: 'collection' }
                    },
                    {
                        mod: 'collection',
                        label: 'Диафильмы о Русских писателях 19 века.',
                        text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось.',
                        image: { url: 'viewing-hall/collections/collection/card-3.jpg', width: 503, height: 362 },
                        link: { label: 'Читать статью полностью', url: 'collection' }
                    },
                    {
                        mod: 'collection',
                        label: 'Диафильмы о СССР',
                        text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось.',
                        image: { url: 'viewing-hall/collections/collection/card-4.jpg', width: 503, height: 362 },
                        link: { label: 'Читать статью полностью', url: 'collection' }
                    }
                ]
            }
        }
    } %}

{% endblock layout_content %}

{% block popups %}
    {{ parent() }}
{% endblock popups %}
