{% extends '@layouts/default.twig' %}

{% block vendor_styles %}
    {{ parent() }}
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block vendor_scripts %}
    {{ parent() }}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block layout_content %}
    {% include '@blocks/title.twig' with {
        self: {
            mod: 'image',
            back: { url: parent.id, label: 'В зал экспонатов' },
            image: { url: 'showroom/publications/publication-1/image-1.jpg', width: 1112, height: 450, alt: '' },
            label: pageTitle
        }
    } %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'quote'
        }
    } %}
        {% block blockquote_body %}
            <p>Пролистывая номера газеты за 1929 год, сотрудники РГБ нашли любопытнейший материал: ...Недавно вышел из
                печати № 3 ежемесячного журнала "Современная архитектура". Журнал этот — боевой орган передовых
                архитектурных группировок и обществ. В № 3 одна из первых страниц целиком отдана серии протестов. Левый
                фланг советской архитектуры продолжает решительно и резко протестовать против результатов закрытого
                конкурса
                проектов нового здания Ленинской библиотеки в Москве. Правительственной комиссией принят проект
                академика
                Щуко — половинчатый, повторяющий старые, осужденные временем монументальные архитектурные формы...</p>
            <p>...Перед нами — организованная, сплочённая, здоровая борьба за современную архитектуру, за продвижение
                новых
                людей и новых идей, против "академической" реакционности старых мастеров...</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>В 1931 году издание переименовали в «Советское искусство», а с 1942 года, после слияния с «Литературной
                газетой» — в «Литературу и искусство». В 1944 году прежнее название вернули. С 1953 года газета уже под
                названием «Советская культура» стала органом Министерства культуры СССР и Центрального комитета
                профсоюза работников культуры, а в 1973 году — газетой Центрального комитета Коммунистической партии
                Советского Союза.</p>
            <p>Газета на протяжении многих лет отражала основные тенденции советской политики в отношении культуры и
                искусства. «Советская культура» публиковала статьи, посвящённые литературе, театру, кинематографии,
                музыке. В издании было много аналитических и критических статей, посвящённых текущему состоянию
                советской культур.</p>
        {% endblock text_body %}
    {% endembed %}

    {% embed '@blocks/blockquote.twig' with {
        self: {
            mod: 'box'
        }
    } %}
        {% block blockquote_body %}
            <p>Первый номер газеты, носившей тогда название «Рабочий и искусство», вышел в свет 6 ноября 1929 года.</p>
        {% endblock blockquote_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, large, external',
            jsClassName: 'js-figure',
            type: 'pdf',
            wrap: true,
            media: {
                url: 'showroom/publications/publication-1/image-2.jpg',
                width: 929,
                height: 542,
                extra: {
                    'data-url': 'https://diafilms.designdepot.ru/media/documents/%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%B0%D1%8F_%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D1%83%D1%80%D0%B0__51_1983_%D0%9E_%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B5%D1%86_%D0%9F%D0%BE%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D0%B5%D1%82_%D0%94%D0%B8%D0%B0%D1%84%D0%B8%D0%BB%D1%8C%D0%BC.pdf'
                }
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>О газете «Советская культура» режиссёром Ю. П. Егоровым был снят документальный фильм, в котором
                заголовки статей иллюстрируются кадрами кинохроники строительства Байкало-Амурской магистрали,
                выступления симфонического оркестра под руководством Евгения Мравинского, реставрации старинной церкви,
                а также интервью читателей у газетного киоска и ответами сотрудников отдела «Советская культура» на
                письма читателей.</p>
            <p>В 1979-м газету удостоили ордена Трудового Красного Знамени.</p>
            <p>В 1991 году издание утратило приставку «советская» и стало просто «Культурой».</p>
            <p>В декабре 2011 года главным редактором газеты была назначена Елена Ямпольская. С приходом новой команды
                газета стала выходить с новым подзаголовком «Духовное пространство русской Евразии», обрела цвет и
                превратилась в еженедельное общественно-политическое издание, которое помимо собственно культуры уделяет
                большое внимание социальным и политическим вопросам, отечественной и зарубежной истории, религии, жизни
                регионов и межнациональным отношениям. В «Культуре» публикуются такие известные общественные деятели,
                как Никита Михалков, Захар Прилепин, Наталья Солженицына. Сохраняя лучшие традиции публикаций и
                изложения материалов, «Культура» ищет новые актуальные формы подачи информации, диктуемые современными
                требованиями рынка СМИ.</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/networks.twig' with {
        self: {
            mod: 'sharing',
            wrap: true,
            jsClassName: 'js-sharing',
            items: [
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'fb-white',
                    title: 'Поделиться в Facebook',
                    extra: { 'data-action': 'fb' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'vk-white',
                    title: 'Поделиться во Вконтакте',
                    extra: { 'data-action': 'vk' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'ok-white',
                    title: 'Поделиться в Одноклассники',
                    extra: { 'data-action': 'ok' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'cp-white',
                    title: 'Копировать ссылку на страницу',
                    extra: { 'data-action': 'cp' }
                }
            ]
        }
    } %}

    {% include '@blocks/similar.twig' with {
        self: {
            mod: 'publications',
            label: 'Еще исторические публикации',
            text: 'В этих статьях мы подобрали интересные факты о диафильмах для школьников. Материалы специально готовились с акцентом на людей жаждущих знаний, надеемся вам будет интересно.',
            carousel: {
                mod: 'publications',
                jsClassName: 'js-carousel-horizontal',
                itemsTemplate: '@blocks/card.twig',
                items: [
                    {
                        size: 'double',
                        mod: 'publication',
                        label: 'Советская культура',
                        text: 'В 1948 поступил в Московское государственное академическое художественное училище памяти 1905 года, которое тогда находилось на улице Сретенка.',
                        image: { url: 'showroom/publications/publication-1/card-1.jpg', width: 610, height: 400 },
                        link: { label: '', url: '#' }
                    },
                    {
                        size: '',
                        mod: 'publication',
                        label: 'Диафильмы 1964',
                        text: 'Начал участвовать в выставках.В 1959 году по заказу издательства.',
                        image: { url: 'showroom/publications/publication-1/card-2.jpg', width: 290, height: 400 },
                        link: { label: '', url: '#' }
                    },
                    {
                        size: '',
                        mod: 'publication',
                        label: 'Годовщина',
                        text: 'Петр Багин много путешествовал по Русскому Северу, Алтаю и Уралу, был на',
                        image: { url: 'showroom/publications/publication-1/card-3.jpg', width: 290, height: 400 },
                        link: { label: '', url: '#' }
                    }
                ]
            }
        }
    } %}

{% endblock layout_content %}

{% block popups %}
    {{ parent() }}
{% endblock popups %}
