{% set self = {
    itemsTemplate: '@blocks/card.twig',
    items: [
        {
            size: '',
            mod: 'collection',
            label: 'Пограничник Карацупа и его пёс Ингус. Невыдуманные герои диафильмов. Герои страны!',
            text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм. Жизнь действительно стала иной, но все перечисленное никуда не делось. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм.',
            image: { url: 'viewing-hall/collections/card-1.jpg', width: 503, height: 362 },
            link: { label: 'Читать статью полностью', url: 'collection' }
        },
        {
            size: '',
            mod: 'collection',
            label: 'Диафильмы про Бабу-Ягу',
            text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось.',
            image: { url: 'viewing-hall/collections/card-2.jpg', width: 503, height: 362 },
            link: { label: 'Читать статью полностью', url: 'collection' }
        },
        {
            size: '',
            mod: 'collection',
            label: 'Диафильмы о Русских писателях 19 века.',
            text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось.',
            image: { url: 'viewing-hall/collections/card-3.jpg', width: 503, height: 362 },
            link: { label: 'Читать статью полностью', url: 'collection' }
        },
        {
            size: '',
            mod: 'collection',
            label: 'Диафильмы о СССР',
            text: 'Ежегодно, начиная с 1994 года, 28 мая страна отмечает День пограничника. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают. Это та самая профессия, о которой говорит начальник заставы в легендарном фильме героя нашего времени смотрите фильм Жизнь действительно стала иной, но все перечисленное никуда не делось.',
            image: { url: 'viewing-hall/collections/card-4.jpg', width: 503, height: 362 },
            link: { label: 'Читать статью полностью', url: 'collection' }
        }
    ]
} %}

{% set itemsOnPage = 1 %}
{% set page = request.query.page|default(2) - 2 %}
{% for item in self.items|slice(page * itemsOnPage, itemsOnPage) %}
    <div class="{{ 'feed__item'|mod(item.size) }}{{ self|jsClass('item') }}{% if (page + 1)  * itemsOnPage == self.items|length %} is-last{% endif %}"{% if item.extra %} {{ item.extra|extra }}{% endif %}>
        {% include item.template|default(self.itemsTemplate|default('@blocks/card.twig')) with {
            self: item
        } %}
    </div>
{% endfor %}
