{% set self = {
    itemsTemplate: '@blocks/story.twig',
    items: [
        {
            size: 'full',
            label: 'Сказка про Бабу Ягу',
            link: { url: '#', label: 'Смотреть диафильм' },
            text: 'Пусть милый образ Бабы-яги, созданный художником Виталием Маркиным, не вводит вас в заблуждение. Сюжет классический, просто бабушка отдохнуть прилегла перед сытным обедом. Но как только выяснилось, что обед убежал, бабка вскочила в ступу и отправилась в погоню. Умерла от перепоя - помогала быкам выпить реку, да лопнула.',
            figure: { mod: '', media: { url: 'viewing-hall/collections/collection/story-1.jpg', width: 717, height: 500 }, caption: 'Сказка про Бабу-Ягу / художник В. Маркин; худож. ред. В. Дугин.- Москва : Диафильм, 1991.- 1 дф. (40 кд.)' }
        },
        {
            size: 'full',
            label: 'Василиса Премудрая',
            link: { url: '#', label: 'Смотреть диафильм' },
            text: 'Название другое, а сюжет знакомый - это же сказка про Лягушку-царевну. Баба-Яга, хоть и выглядит страшной, но вполне доходчиво объяснила Ивану, как одолеть Кащея. Без ее советов Иван бы не спас Василису, которую своими руками отправил за тридевять земель, когда сжег лягушачью шкурку.',
            figure: { mod: '', media: { url: 'viewing-hall/collections/collection/story-2.jpg', width: 717, height: 500 }, caption: 'Василиса Премудрая / худож. А. Винокуров, И. Шварцман.- Москва : Диафильм, 1964.- 1 дф. (48 кд.)' }
        },
        {
            size: 'full',
            label: 'Царевна-лягушка',
            link: { url: '#', label: 'Смотреть диафильм' },
            text: 'В этой сказке Баба-Яга играет эпизодическую положительную роль. Ведь именно она рассказала Ивану-царевичу, как спасти Василису-прекрасную от Кощея Бессмертного. Поэтому она похожа на веселую старушку и совсем не страшная.',
            figure: { mod: '', media: { url: 'viewing-hall/collections/collection/story-3.jpg', width: 717, height: 500 }, caption: 'Воздушное путешествие Незнайки и его товарищей / Н. Носов; худож. Л. Владимирский.- Москва : Диафильм, 1957.- 1 дф. (47 кд.)' }
        },
        {
            size: 'full',
            label: 'Две сестры',
            link: { url: '#', label: 'Смотреть диафильм' },
            text: 'В диафильме про двух сестер - ленивую и радивую - Баба-яга честная и справедливая, есть просто так никого не собирается. «Не пугайся меня, оставайся здесь. Если всю работу в доме хорошо будешь справлять, то не плохо жить станешь. А за плохую работу головы тебе не сносить. Баба-яга».',
            figure: { mod: '', media: { url: 'viewing-hall/collections/collection/story-4.jpg', width: 717, height: 500 }, caption: 'Василиса Премудрая / худож. А. Винокуров, И. Шварцман.- Москва : Диафильм, 1964.- 1 дф. (48 кд.)' }
        },
        {
            size: 'full',
            label: 'Чудо чудесное',
            link: { url: '#', label: 'Смотреть диафильм' },
            text: 'Это одна из ипостасей героини стихотворной сказки Льва Кузьмина "Дом с колокольчиком". Если с ней общаться вежливо, то она выглядит как милая старушка с пучком. Но "если ты в этом дом начнешь кулаком стучаться", то выйдет не старушка, "А выскочит Баба-яга".',
            figure: { mod: '', media: { url: 'viewing-hall/collections/collection/story-5.jpg', width: 717, height: 500 }, caption: 'Дом с колокольчиком (Чудо чудесное / Кузьмин Л.; Худож. Елисеев А.- Москва : Диафильм, 1985.- 1 дф. (35 кд.))' }
        }
    ]
} %}

{% set itemsOnPage = 1 %}
{% set page = request.query.page|default(2) - 2 %}
{% for item in self.items|slice(page * itemsOnPage, itemsOnPage) %}
    <div class="{{ 'feed__item'|mod(item.size) }}{{ self|jsClass('item') }}{% if (page + 1)  * itemsOnPage == self.items|length %} is-last{% endif %}"{% if item.extra %} {{ item.extra|extra }}{% endif %}>
        {% include item.template|default(self.itemsTemplate|default('@blocks/card.twig')) with {
            self: item
        } %}
    </div>
{% endfor %}
