<div class="networks networks_sharing js-sharing">
    <div class="networks__container">
        <div class="networks__row">
            <ul class="networks__list">
                <li class="networks__item">
                    <button class="networks__button button button_sharing js-sharing-button" type="button" aria-label="Поделиться в Facebook" title="Поделиться в Facebook" data-action="fb">
                        <span class="button__icon button__icon_fb-white"></span>
                    </button>
                </li>
                <li class="networks__item">
                    <button class="networks__button button button_sharing js-sharing-button" type="button" aria-label="Поделиться во Вконтакте" title="Поделиться во Вконтакте" data-action="vk">
                        <span class="button__icon button__icon_vk-white"></span>
                    </button>
                </li>
                <li class="networks__item">
                    <button class="networks__button button button_sharing js-sharing-button" type="button" aria-label="Поделиться в Одноклассники" title="Поделиться в Одноклассники" data-action="ok">
                        <span class="button__icon button__icon_ok-white"></span>
                    </button>
                </li>
                <li class="networks__item">
                    <button class="networks__button button button_sharing js-sharing-button" type="button" aria-label="Копировать ссылку на страницу" title="Копировать ссылку на страницу" data-action="cp">
                        <span class="button__icon button__icon_cp-white"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
