DEBUG=0
BASE_URL="diafilm.online"
HOSTS="diafilm.online,127.0.0.1"

DB_URL="postgres://diafilms:diafilms@database:5432/diafilms"
CACHE_URL="redis://cache:6379/0"
ES_URL="search:9200"

SENTRY_URL=""
SENTRY_RATE=1

EMAIL_BACKEND="smtp"
EMAIL_HOST="127.0.0.1"
EMAIL_PORT=1025
EMAIL_USE_TLS=0
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_SUBJECT_PREFIX="[Форма обратной связи] "

MANAGERS="Admin <admin@diafilm.online>, Sergey Trofimov <truetug@gmail.com>"
