<div class="notifications js-notifications">
    <!--googleoff: all-->
    <!--noindex-->
    <!--[if lte IE 9]>
    <div class="{{ 'notification'|mod('default, warning') }} robots-nocontent" role="alert" aria-hidden="false">
        <div class="notification__container">
            <div class="notification__row">
                <div class="notification__text">
                    <p>Вы используете <strong>устаревший</strong> браузер. Пожалуйста
                        <a href="https://browsehappy.com/" target="_blank" rel="nofollow noopener noreferrer">обновите
                            его</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <![endif]-->
    <noscript>
        <div class="{{ 'notification'|mod('default, warning') }} robots-nocontent" role="alert" aria-hidden="false">
            <div class="notification__container">
                <div class="notification__row">
                    <div class="notification__text">
                        <p>Для полной функциональности этого сайта необходимо включить <strong>JavaScript</strong>. Вот
                            <a href="https://www.enable-javascript.com/ru/" target="_blank" rel="nofollow noopener noreferrer">
                                инструкции, как включить JavaScript в вашем браузере</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
    <!--/noindex-->
    <!--googleon: all-->
</div>
