{% load content_tags %}
{% load common_tags %}

{% get_collection_images self.collection_id as object_list %}

{% comment %}
{% if self.title or self.text %}
<div class="text text_small">
    <div class="text__body is-editable">
        <h3>{{ self.title|format_title }}</h3>
        {{ self.text }}
    </div>
</div>
{% endif %}
{% endcomment %}

<div class="similar similar_default {% if page.html_class != "archive" %}similar_archive{% endif %}">
    <div class="similar__container">
        <div class="similar__row">
            <div class="similar__label" role="heading" aria-level="2">{{ self.title|format_title }}</div>
            <div class="similar__carousel carousel carousel_films js-carousel-horizontal">
                <div class="carousel__viewport js-carousel-viewport">
                    <ul class="carousel__list js-carousel-overflow">
                        {% for item in object_list %}
                        <li class="carousel__item carousel__item_default js-carousel-item">
                            <article class="card card_film" data-clickable>
                                <div class="card__picture">
                                    {% with size="fill-384x288" class="card__image" %}
                                    {% include "common/img.html" with img=item %}
                                    {% endwith %}
                                </div>
                                <div class="card__body">
                                    <div class="card__text">{{ item.title }}</div>
                                </div>
                            </article>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
