{% load wagtailcore_tags %}
{% load core_tags %}

<div class="tabs tabs_default js-tabs-default">
    <div class="tabs__container">
        <div class="tabs__row">
            <div class="tabs__list js-tabs-list" role="tablist">
                <div class="tabs__overflow">
                    {% for tab in self.tabs %}
                    <button class="tabs__tab js-tabs-tab" type="button" id="tab-{{ forloop.counter0 }}"
                         aria-controls="{{ tab.value.bound_blocks.slug.value }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                         role="tab" tabindex="{% if forloop.first %}0{% else %}-1{% endif %}">
                        {{ tab.value.bound_blocks.title.value|format_title }}
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% for tab in self.tabs %}
    <div class="tabs__panel js-tabs-panel" id="{{ tab.value.bound_blocks.slug.value }}"
         aria-labelledby="tab-{{ forloop.counter0 }}" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}" role="tabpanel" tabindex="{% if forloop.first %}0{% else %}-1{% endif %}">
        {% for block in tab.value.bound_blocks.content.value %}
        {% include_block block %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
